
body {
  font-family:'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #34495e; /* Dark background color */
  color: #ecf0f1; /* Light text color */
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  /* border: 2px solid salmon; */
}

.details {
  flex: 1;
  box-sizing: border-box;
  padding: 40px;
  background-color: #2c3e50; /* Dark blue background */
  /* text-align: center; */
  border-radius: 4px;
}
.details h2{
  color: #e2e2e2;
  margin-bottom: 50px;
}
 strong{
  text-transform: uppercase;
}

.map {
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #e2e2e2; /* Blue background */
  text-align: center;
}

h2 {
  color: #000000; /* Light heading color */
}

p {
  color: #bdc3c7; /* Light text color */
}

/* Placeholder styles, replace with actual map styles */
#map {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}


.parent-container {
  display: flex;
  flex-wrap: wrap; /* Children wrap to the next row if needed */
  gap: 3px; /* Spacing between children */
  padding: 2px; /* Padding for the parent container */
  background-color: #2c3e50; /* White background color */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Box shadow for a subtle lift */
}

.child {
  flex: 1 1 calc(33.33% - 20px); /* Equal width with gap spacing */
  box-sizing: border-box;
  padding: 4px;
  max-width: calc(33.33% - 20px); /* Maximum width to prevent exceeding */
  background-color: #202124; /* Blue background color */
  color: #e8e8e8; /* Light text color */
  /* text-align: center; */
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
  font-size: 14px;
}
.child p{
  margin: 2px;
}
.map .preDet{
  padding: 0 0 0 30px;
  color: #292a2e;
  text-align: left;
  margin-top: 10px;
}
.map .preDet p{
  color: #38393d;
}
.button{
  background:    #202124;
  border-radius: 7px;
  width:         150px;
  height:        50px;
  color:         #f9f9f9;
  display:       inline-block;
  font:          normal bold 20px/50px "Roboto", sans-serif;
  text-align:    center;
  text-decoration: none;
  margin-right: 20px;
}
.avi{
  display:flex;
  justify-content:space-between;
}
